<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449757426730-qggrugip4c50vlc9lokfh6gl95m8puid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449757426730-qggrugip4c50vlc9lokfh6gl95m8puid</string>
	<key>API_KEY</key>
	<string>AIzaSyC5YxTmQ4ilwXJs3BnPGem2Zd9V-2WjAhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449757426730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agoracreation.hiromeRentalShopApp</string>
	<key>PROJECT_ID</key>
	<string>hirome-rental</string>
	<key>STORAGE_BUCKET</key>
	<string>hirome-rental.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449757426730:ios:adc734757a796ec9d0bf53</string>
</dict>
</plist>